{{ define "_card_endpoint" }}
<div id="endpoint-card-{{ .Endpoint.Id }}" class="card">
    <ul>
        <li>Type: {{ .Endpoint.ConnectionType.Display }}</li>
        <li>Payload: {{ (index .Endpoint.PayloadType 0).Text }}</li>
        <li>Address: {{ .Endpoint.Address }}</li>
    </ul>
    <button class="btn btn-outline-dark btn-sm"
            hx-delete="/mcsdadmin/organization/{{ .Organization.Id }}/endpoints"
            hx-swap="delete"
            hx-target="#endpoint-card-{{ .Endpoint.Id }}"
            hx-vals='{"endpointId": "{{ .Endpoint.Id }}"}'
    >Delete
    </button>
</div>
{{ end }}
