{{define "main"}}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Connect Endpoints</h2>
</div>
{{ with .ConnectData }}
<table>
    <thead>
    <tr>
        {{ range .Endpoints }}
        <th scope="col">{{ .Address }}</th>
        {{ end }}
    </tr>
    </thead>
    <tbody>
    {{ range $ri, $r := .Rows }}
    <tr>
        <th scope="row">{{ .Organization.Name }}</th>
        {{ range $ci, $c := .Cells }}
        <td>
            <input id="org_id_{{$ri}}_{{$ci}}" type="hidden" name="organization_id" value="{{ $c.Organization.Id }}">
            <input id="ep_id_{{$ri}}_{{$ci}}" type="hidden" name="endpoint_id" value="{{ $c.Endpoint.Id }}">
            <input
                    type="checkbox"
                    name="status"
                    {{if .Enabled}}checked{{end}}
                    hx-put="/mcsdadmin/endpoint/connect"
                    hx-include="#org_id_{{$ri}}_{{$ci}}, #ep_id_{{$ri}}_{{$ci}}">
        </td>
        {{ end }}
    </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}
{{end}}
