{{define "main"}}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Connect Endpoints</h2>
</div>
{{ with .ConnectData }}
<table>
    <thead>
    <tr>
        {{ range .Endpoints }}
        <th scope="col">{{ .Address }}</th>
        {{ end }}
    </tr>
    </thead>
    <tbody>
    {{ range .Rows }}
    <tr>
        <th scope="row">{{ .Organization.Name }}</th>
        {{ range .Cells }}
        <td><input type="checkbox" {{if . }}checked{{end}}></td>
        {{ end }}
    </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}
{{end}}
