{{define "main"}}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Connect Endpoints</h2>
</div>
{{ with .ConnectData }}
<table>
    <thead>
    <tr>
        {{ range .Endpoints }}
        <th scope="col">{{ .Address }}</th>
        {{ end }}
    </tr>
    </thead>
    <tbody>
    {{ range .Rows }}
    <tr>
        <th scope="row">{{ .Organization.Name }}</th>
        {{ range .Cells }}
        <td>
            <input type="hidden" name="organization_id" value="{{ .Organization.Id }}">
            <input type="hidden" name="endpoint_id" value="{{ .Endpoint.Id }}">
            <input
                    type="checkbox"
                    {{if .Enabled}}checked{{end}}
                    hx-put="/mcsdadmin/endpoint/connect"
                    hx-include="[name='organization_id'], [name='endpoint_id']">
        </td>
        {{ end }}
    </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}
{{end}}
