{{define "main"}}
<form method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <label for="address">Address:</label>
        <input id="address" type="text" name="address" placeholder="https://" required>
    </div>
    <div class="form-group">
        <label for="payload-type">Payload Type:</label>
        <select name="payload-type" id="payload-type">
            <option value="">--Please choose an option--</option>
            {{range .PayloadTypes }} }}
            <option value="{{ .Code }}">{{ .Display }}</option>
            {{ end }}
        </select>
    </div>
    <div class="form-group">
        <fieldset>
            <legend>Period:</legend>
            <label for="period-start">From:</label>
            <input id="period-start" type="date" name="period-start" />
            <label for="period-end">To:</label>
            <input id="period-end" type="date" name="period-end" />
        </fieldset>
    </div>
    <div class="form-group">
        <label for="contact">Contact:</label>
        <input id="contact" type="text" name="contact" />
    </div>
    <div class="form-group">
        <label for="managingOrg">Managing organisation:</label>
        <select name="managingOrg" id="managingOrg">
            <option value="">--Please choose an option--</option>
            {{range .Organizations}} }}
            <option value="{{ .ID }}">{{ .Name }}</option>
            {{ end }}
        </select>
    </div>
    <div class="form-group">
        <label for="status">Status:</label>
        <select name="status" id="status">
            <option value="">--Please choose an option--</option>
            {{range .Status}} }}
            <option value="{{ .Code }}">{{ .Display }}</option>
            {{ end }}
        </select>
    </div>
    <div class="form-group">
        <button>Submit!</button>
    </div>
</form>
{{end}}
