{{define "main"}}
<div class="card">
    <div class="card-header">
        <h4>Edit Healthcare Service</h4>
    </div>
    <div class="card-body">
        <form method="post" enctype="application/x-www-form-urlencoded">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input id="name" type="text" name="name" class="form-control" placeholder="Enter name here" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" name="active" id="active" value="true" class="form-check-input">
                <label class="form-check-label" for="active">Active</label>
            </div>
            <div class="mb-3">
                <div id="option-type" class="option">
                    <label for="type-select" class="form-label">Choose a type:</label>
                    <select name="type" id="type-select" class="form-select" required>
                        <option value="" disabled selected>--Please choose an option--</option>
                        {{ range .Types }}
                        <option value="{{ .Code }}">{{ .Display }}</option>
                        {{ end }}
                    </select>
                </div>
                <button onclick='addOption("type-select");' type="button" class="btn btn-secondary btn-sm">Add type</button>
            </div>
            <div class="mb-3">
                <label for="providedById" class="form-label">Provided by:</label>
                <select name="providedById" id="providedById" class="form-select" required>
                    <option value="" disabled selected>--Please choose an option--</option>
                    {{range .Organizations}}
                    <option value="{{ .Id }}">{{ .Name }}</option>
                    {{ end }}
                </select>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{{end}}
