{{define "main"}}
<div class="card">
  <div class="card-header">
    <h4>Edit Organization</h4>
  </div>
  <div class="card-body">
    <form method="post" enctype="application/x-www-form-urlencoded">
        <div class="form-group">
            <label for="name">Name of the organization:</label>
            <input id="name" type="text" name="name" class="form-control" placeholder="Enter name here" required>
        </div>
        <div class="form-group">
            <label for="type-select">Choose a type:</label>
            <select name="type" id="type-select" class="form-control">
                <option value="">--Please choose an option--</option>
                {{ range .Types }}
                <option value="{{ .Code }}">{{ .Display }}</option>
                {{ end }}
            </select>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" name="active" id="active" value="true" class="form-check-input">
            <label class="form-check-label" for="active">Active</label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
  </div>
</div>
{{end}}
