{{define "main"}}
<h3>Organization: Care4U Hospital</h3>
<label>Endpoint:</label>
<div class="card">
    {{ range .Endpoints }}
    <ul>
        <li>Type: {{ .ConnectionType.Display }}</li>
        <li>Payload: {{ (index .PayloadType 0).Text }}</li>
        <li>Address: {{ .Address }}</li>
    </ul>
    {{ end }}
</div>
<label>Add endpoint</label>
<select name="all-endpoints" id="all-endpoints">
    <option value="" disabled selected>--Please choose an option--</option>
    {{ range .AllEndpoints }}
    <option value="{{ .Id }}">{{ .Address }}</option>
    {{ end }}
</select>
<button class="btn btn-outline-dark btn-sm">Add</button>
{{end}}