{{define "main"}}
<div class="card">
    <div class="card-header">
        <h4>Edit Practitioner Role</h4>
    </div>
    <div class="card-body">
        <form method="post" enctype="application/x-www-form-urlencoded">
            {{ if .OrgsExist }}
            <div class="mb-3">
                <label for="dezi-number" class="form-label">DEZI-number:</label>
                <input id="dezi-number" type="text" name="dezi-number" class="form-control" placeholder="Enter code here" required>
            </div>
            <div class="mb-3">
                <label for="part-of" class="form-label">Part of Organization:</label>
                <select name="part-of" id="part-of" class="form-select">
                    <option value="">--Please choose an option--</option>
                    {{range .Organizations}}
                    <option value="{{ .Id }}">{{ .Name }}</option>
                    {{ end }}
                </select>
            </div>
            {{ else }}
            <p>Please add an organization before adding roles</p>
            {{ end }}
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{{end}}
