{{define "main"}}
<div class="action-bar">
    <div>
        <a href="/mcsdadmin/healthcareservice/new">New Health Care Service</a>
    </div>
</div>
<div class="main-view">
    <table>
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Active</th>
            <th scope="col">ProvidedBy</th>
        </tr>
        </thead>
        <tbody>
        {{range .}}
        <tr>
            <th scope="row">{{ .Name }}</th>
            <td>...</td>
            <td>{{ if .Active }}{{ .Active }}{{end}}</td>
            <td>{{ if .ProvidedBy }}{{ .ProvidedBy.Display }}{{end}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
{{end}}